[Desktop Entry]
Name=gCVS
Comment=Graphical CVS front-end
Comment[pl]=Graficzna nakładka na CVS
Icon=gcvs.png
Exec=gcvs
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
