[Desktop Entry]
Name=gCVS
Comment=Graphical CVS front-end
Comment[pl]=Graficzna nakładka na CVS
Icon=gcvs
Exec=gcvs
Terminal=false
Type=Application
Categories=GTK;Development;RevisionControl;
# vi: encoding=utf-8
